.page_wrapper {
  position: relative;
  background-color: #e7eaf2;

  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .page_wrapper {
    width: 768px;
    height: 1024px;
    background-repeat: no-repeat;
    background-position: bottom 0 left 0, top 0 right 0, top 60px left 114px;

    background-image: url(../../images/bg-tablet-login/ellipse-down.png),
      url(../../images/bg-tablet-login/ellipse-up.png),
      url(../../images/frame-login/frame-tablet.png);
  }
}

/* @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page_wrapper {
    background-image: url(../../images/bg-tablet-login/ellipse-down@2x.png),
      url(../../images/bg-tablet-login/ellipse-up@2x.png),
      url(../../images/frame-login/frame-tablet@2x.png);
  }
} */
/* @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page_wrapper {
    background-image: url(../../images/frame-login/frame-desctop@2x.png),
      url(../../images/bg-desktop-login/ellipse@2x.png),
      url(../../images/bg-desktop-login/rectangle@2x.png);
  }
} */

@media screen and (min-width: 1280px) {
  .page_wrapper {
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;
    background-position: top 153px left 66px, bottom 0 left 0, top 0 right 0;

    background-image: url(../../images/frame-login/frame-desctop.png),
      url(../../images/bg-desktop-login/ellipse.png),
      url(../../images/bg-desktop-login/rectangle.png);
  }
}

.page_text {
  display: none;
}
@media screen and (min-width: 768px) {
  .page_text {
    position: absolute;
    top: 163px;
    right: 153px;

    font-size: 30px;
    line-height: 1.5;

    display: inline-block;

    color: #000;
  }
}
@media screen and (min-width: 1280px) {
  .page_text {
    position: absolute;
    top: 597px;
    left: 200px;
  }
}
